body{
  margin: 0;
  background: #222;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
}

header {
  background: rgba(179, 2, 2, 1);
  width: 100%;
  top: 0;
  position: sticky;
}

header::after{
  content: "";
  display: table;
  clear: both;
}

.logo{
  float: left;
  width: 95px;
  height: 95px;
  padding-top: 10px;
  margin-left: 2%;
  padding-bottom: 10px;
}

#nombrePagina{
  position: absolute;
  margin-left: 12%;
  color: white;
  margin-top: 3.5%;
}

nav{
  float: right;
  margin-right: 15%;
}

nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li{ /*aliniacion opciones*/
  display:inline-block;
  margin-left: 35px;
  padding-top: 45px;
  position: relative;
}

nav ul li a{ /*opciones*/
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
  position: relative;
}

nav a:hover{
  color: #000;
}

.lista::before{ /*transicion de barra nav*/
  content: " ";
  display: block;
  height: 5px;
  width: 0%;
  background-color: rgb(255, 255, 255);
  position: relative;
  top: 0;
  transition: all ease-in-out 250ms;
}

.lista:hover::before{
  width: 100%;
}

.buttons-redes {
  min-width: 600px;
  display: flex;
  align-self: baseline;
  position: fixed;
  bottom: 3%;
  
}

.buttons-redes a {
  text-decoration: none;
  margin-left: 20px;
  font-size: 28px;
  width: 30px;
  height: 30px;
  line-height: 60px;
  text-align: center;
  background: #314652;
  color: #f1f1f1;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
  transition: all .4s ease-in-out;
}

.buttons-redes a:hover {
  transform: scale(1.5);
}
.form-login { /* recuadro login */
  width: 400px;
  height: 300px;
  background: rgba(245, 245, 245, 0.733);
  margin: auto;
  margin-top: 5%;
  box-shadow: 7px 13px 37px #000;
  padding: 20px 30px;
  border-top: 0px solid black;
  border-radius: 20px;
  color: black;
}
  
.form-login h5 {   /*texto login*/
  margin: 0;
  text-align: center;
  height: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid;
  font-size: 20px;
}
  
.controls {  /* Usuario y contraseña*/
  width: 94.5%;
  border: 1px solid black;
  color: whitesmoke;
  border-radius: 20px;
  margin-bottom: 15px;
  padding: 11px 10px;
  background: #252323;
  font-size: 14px;
  font-weight: bold;
}
  
.buttons { /*ingresar*/
  width: 100%;
  height: 40px;
  background: rgb(163, 11, 11);
  border: 1px solid black;
  border-radius: 20px;
  color: white;
  margin-bottom: 16px;
}

.buttons:hover{
  text-decoration: underline;
}
  
.form-login p{ /*olvidaste tu contraseña*/
  height: 30px;
  text-align: center;
  border-bottom: 1px solid;
}
  
.form-login a { /*olvidaste tu contraseña*/
  color: black;
  text-decoration: none;
  font-size: 14px;
}
  
.form-login a:hover { /*olvidate tu contraseña*/
  text-decoration: underline;
}

.buttons-redes{
  min-width: 600px;
  display: flex;
  align-self: baseline;
  position: fixed;
  bottom: 3%;
    
}
  
.buttons-redes a {
  text-decoration: none;
  margin-left: 20px;
  font-size: 28px;
  width: 30px;
  height: 30px;
  line-height: 60px;
  text-align: center;
  background: #314652;
  color: #f1f1f1;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
  transition: all .4s ease-in-out;
}
  
.buttons-redes a:hover {
  transform: scale(1.5);
}
